<div class="container">
  <div class="form-group">
    <label for="typeahead-http">Search communes:</label>
    <input
      id="typeahead-http"
      type="text"
      class="form-control"
      [class.is-invalid]="searchFailed"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
      placeholder="Wikipedia search"
    />
    <span *ngIf="searching">searching...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">
      Sorry, suggestions could not be loaded.
    </div>
  </div>

  <div class="input-group mb-3 mt-5">
    <div class="custom-file">
      <input
        type="file"
        name="document"
        multiple
        (change)="handleFileChange($event.target.files)"
        class="custom-file-input"
        id="inputGroupFile02"
      />
      <label
        class="custom-file-label text-muted"
        for="inputGroupFile02"
        aria-describedby="inputGroupFileAddon02"
        >Choose file...</label
      >
    </div>
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-primary"
        id="inputGroupFileAddon02"
        [disabled]="!files || files.length === 0"
        (click)="uploadFiles()"
      >
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="files != null">
    <table class="table table-hover table-striped table-bordered">
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-row">
    <button
      type="button"
      class="btn-primary btn"
      role="button"
      (click)="open()"
    >
      open modal
    </button>
  </div>
  <div *ngIf="fileList" class="mt-2">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>filename</th>
          <th>originalname</th>
          <th>destination</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of fileList" (click)="open(file)">
          <td>{{ file.filename }}</td>
          <td>{{ file.originalname }}</td>
          <td>{{ file.destination }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
