.form-row-header {
  margin-left: -0.85rem;
  margin-right: -0.85rem;
}

textarea {
  resize: none;
}

.card-body-tab-content {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

button[class~='btn-link'] {
  text-decoration-line: none;
}
