<div class="container">
  <div class="form-group">
    <label for="typeahead-http">Search communes:</label>
    <input
      id="typeahead-http"
      type="text"
      class="form-control"
      [class.is-invalid]="searchFailed"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
      placeholder="Wikipedia search"
    />
    <span *ngIf="searching">searching...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">
      Sorry, suggestions could not be loaded.
    </div>
  </div>

  <div class="input-group mb-3 mt-5">
    <div class="custom-file">
      <input
        type="file"
        name="document"
        multiple
        (change)="handleFileChange($event.target.files)"
        class="custom-file-input"
        id="inputGroupFile02"
      />
      <label
        class="custom-file-label text-muted"
        for="inputGroupFile02"
        aria-describedby="inputGroupFileAddon02"
        >Choose file...</label
      >
    </div>
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-primary"
        id="inputGroupFileAddon02"
        [disabled]="!files || files.length === 0"
        (click)="uploadFiles()"
      >
        Upload
      </button>
    </div>
  </div>
  <div *ngIf="files != null">
    <table class="table table-hover table-striped table-bordered">
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-row">
    <button
      type="button"
      class="btn-primary btn"
      role="button"
    >
      open modal
    </button>
  </div>
  <div *ngIf="fileList" class="mt-2">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>filename</th>
          <th>originalname</th>
          <th>destination</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of fileList" (click)="open(file)">
          <td>{{ file.filename }}</td>
          <td>{{ file.originalname }}</td>
          <td>{{ file.destination }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-3">
    <div class="card">
      <div class="card-header">
        <div class="form-row form-row-header">
          <div class="form-group col-12">
            <label class="sr-only">Title</label>
            <input type="text" class="form-control" />
          </div>
        </div>
        <ul class="nav nav-tabs card-header-tabs mr-auto">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#nav-write"
              role="tab"
              aria-controls="nav-write"
              aria-selected="true"
              >Write</a
            >
          </li>
          <li class="nav-item mr-auto">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#nav-preview"
              role="tab"
              aria-controls="nav-preview"
              aria-selected="false"
              >Preview</a
            >
          </li>
          <div class="nav nav-pills card-header-pills">
            <div class="btn-toolbar">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-link px-2"
                  ngbTooltip="Gras"
                >
                  <fa-icon icon="bold"></fa-icon>
                </button>
                <button
                  type="button"
                  class="btn btn-link px-2"
                  ngbTooltip="Italique"
                >
                  <fa-icon icon="italic"></fa-icon>
                </button>
                <button
                  type="button"
                  class="btn btn-link px-2"
                  ngbTooltip="Souligné"
                >
                  <fa-icon icon="underline"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="card-body tab-content card-body-tab-content">
        <div
          class="tab-pane show active"
          id="nav-write"
          role="tabpanel"
          aria-labelledby="nav-write-tab"
        >
          <div class="form-group col-12 px-0">
            <textarea
              type="text"
              class="form-control"
              rows="8"
              (mouseup)="onMouseup($event)"
            ></textarea>
          </div>
        </div>
        <div
          class="tab-pane show"
          id="nav-preview"
          role="tabpanel"
          aria-labelledby="nav-preview-tab"
        ></div>
      </div>
    </div>
  </div>
</div>
